<li id="drink-<%= drink.id %>">
  <% @drink = drink %>
  <%= link_to gravatar_for(drink.user, size: 50), drink.user %>
  <span class="name"><%= link_to drink.name, drink_path(drink) %></span>
  <span>
    <%= link_to((image_tag drink.picture.url), drink_path(drink.id), class: 'drink-picture') if drink.picture.url.present? %>
  </span>
  <%= render 'users/favorite_form' %>
  <span class="description"><%= drink.description %></span><br>
  <span class="required_time">所要時間：<%= drink.required_time %>分　</span>
  <span class="reference"><%= link_to "作り方", drink.reference, target: :_blank %></span>
  <span class="timestamp">
    <%= time_ago_in_words(drink.created_at) %>前に投稿
  </span>
  <% if current_user.admin? || (current_user == drink.user) %>
    <%= link_to "削除", drink_path(drink), method: :delete,
                       data: { confirm: "本当に削除しますか？" } %>
  <% end %>
</li>
