<%= form_with model: @drink, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class = 'form-group'>
    <%= f.label :name %>　<span class="input-need">※必須</span>
    <%= f.text_field :name, class: 'form-control', id: 'drink_name' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :description %>　<span class="input-unneed">※任意</span>
    <%= f.text_field :description, size: "60x4", class: 'form-control', id: 'drink_description' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :portion %> [人分]　<span class="input-unneed">※任意</span>
    <%= f.text_field :portion, class: 'form-control', id: 'drink_portion' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :tips %>　<span class="input-unneed">※任意</span>
    <%= f.text_field :tips, size: "30x4", class: 'form-control', id: 'drink_tips' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :reference %>　<span class="input-unneed">※任意</span>
    <%= f.text_field :reference, class: 'form-control', id: 'drink_reference' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :required_time %> [分]　<span class="input-unneed">※任意</span>
    <%= f.text_field :required_time, class: 'form-control', id: 'drink_required_time' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :made_memo %>　<span class="input-unneed">※任意</span>
    <%= f.text_field :made_memo, class: 'form-control', id: 'drink_cook_memo' %>
  </div>
  <%= f.submit nil, class: 'btn btn-primary' %>
<% end %>
