<% @drink = drink %>
<li id="drink-<%= drink.id %>">
  <div class="row">
    <div class="col-md-4">
      <span>
        <%= link_to((image_tag drink.picture.url), drink_path(drink.id), class: 'drink-picture') if drink.picture.url.present? %>
      </span>
      <%= render 'users/favorite_form' %>
    </div>
    <div class="col-md-8 escape-float">
      <h3 class="drink-name"><%= link_to drink.name, drink_path(drink) %></h3>
      <div class="drink-description"><%= drink.description %></div>
      <div class="drink-user">shared by <%= link_to drink.user.name, user_path(drink.user) %></div>
      <div class="drink-other-info">
        <span class="required_time">所要時間：<%= drink.required_time %>分　</span>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="drink-created-at">
            <%= time_ago_in_words(drink.created_at) %>前に投稿
          </div>
        </div>
        <% if current_user.admin? || (current_user == drink.user) %>
          <div class="col-md-6">
            <%= link_to "削除", drink_path(drink), method: :delete,
                              data: { confirm: "本当に削除しますか？" } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</li>
