<% provide(:title, "コーヒーレシピ情報の編集") %>
<div id="fh5co-portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(@drink) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <span class="picture">
            <%= f.label :picture %>　<span class="input-unneed">※任意</span>
            <%= f.file_field :picture, accept: 'image/jpeg,image/png', class: 'form-control', id: 'drink-picture' %>
            <%= image_tag(@drink.picture.thumb400.url) if @drink.picture.url.present? %>
          </span>
          <div class = 'form-group'>
            <%= f.label :name %>　<span class="input-need">※必須</span>
            <%= f.text_field :name, class: 'form-control', id: 'drink_name' %>
          </div>
          <div class = 'form-group'>
            <%= f.label :description %>　<span class="input-unneed">※任意</span>
            <%= f.text_field :description, size: "60x4", class: 'form-control', id: 'drink_description' %>
          </div>
          <div class = 'form-group'>
            <%= f.label :portion %> [人分]　<span class="input-unneed">※任意</span>
            <%= f.text_field :portion, class: 'form-control', id: 'drink_portion' %>
          </div>
          <div class="row">
            <div class="col-md-9">
              <p class="title-item-name">必要なモノ（10種類まで登録可）　<span class="input-unneed">※任意</span></p>
            </div>
            <div class="col-md-3">
              <p class="title-item-remarks">備考　<span class="input-unneed">※任意</span></p>
            </div>
          </div>
          <%= f.fields_for :items do |i| %>
            <div class="row">
              <div class="col-md-9">
                <div class = 'form-group'>
                  <%= i.text_field :name, class: 'form-control item_name' %>
                </div>
              </div>
              <div class="col-md-3">
                <div class = 'form-group'>
                  <%= i.text_field :remarks, class: 'form-control item_remarks' %>
                </div>
              </div>
            </div>
          <% end %>
          <div class = 'form-group'>
            <%= f.label :tips %>　<span class="input-unneed">※任意</span>
            <%= f.text_field :tips, size: "30x4", class: 'form-control', id: 'drink_tips' %>
          </div>
          <div class = 'form-group'>
            <%= f.label :reference %>　<span class="input-unneed">※任意</span>
            <%= f.text_field :reference, class: 'form-control', id: 'drink_reference' %>
          </div>
          <div class = 'form-group'>
            <%= f.label :required_time %> [分]　<span class="input-unneed">※任意</span>
            <%= f.text_field :required_time, class: 'form-control', id: 'drink_required_time' %>
          </div>
          <div class = 'form-group'>
            <%= f.label :made_memo %>　<span class="input-unneed">※任意</span>
            <%= f.text_field :made_memo, class: 'form-control', id: 'drink_made_memo' %>
          </div>
          <%= f.submit "更新する", class: "btn btn-primary" %>
          <p></p>
          <%= link_to "料理を削除する", drink_path(@drink), method: :delete,
                              data: { confirm: "本当にこのレシピを削除してよろしいですか？" } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
