<% user = User.find(notification.from_user_id) %>
<% drink = Drink.find(notification.drink_id) %>
<li id="notification-<%= notification.id %>">
  <div>
    <% if notification.variety == 1 %>
      <p><%= notification.created_at.strftime("%Y/%m/%d(%a) %H:%M") %></p>
      <p class="notification-message">あなたのコーヒーが<%= link_to user.name, user_path(user) %>さんにお気に入り登録されました。</p>
    <% elsif notification.variety == 2 %>
      <p><%= notification.created_at.strftime("%Y/%m/%d(%a) %H:%M") %></p>
      <p class="notification-message">あなたのコーヒーに<%= link_to user.name, user_path(user) %>さんがコメントしました。
      「<%= notification.content %>」</p>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= link_to((image_tag drink.picture.url), drink_path(drink), class: 'drink-picture') %>
    </div>
    <div class="col-md-7">
      <p><%= link_to drink.name, drink_path(drink) %></p>
      <p><%= drink.description %></p>
    </div>
  </div>
</li>
