<% provide(:title, "プロフィール編集") %>
<div id="fh5co-portfolio">
  <div class="container">
    <%= link_to "プロフィール編集", edit_user_path %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
        <div class="gravatar_edit">
          <%= gravatar_for(@user, size: 40) %>
          <%= @user.name %>
          <a href="http://gravatar.com/emails" target="_blank">プロフィール写真を変更</a>
        </div>
        <p></p>
        <div class = 'form-group'>
          <%= f.label :name %>　<span class="input-need">※必須</span>
          <%= f.text_field :name, class: 'form-control', id: 'user_name' %>
        </div>
        <div class = 'form-group'>
          <%= f.label :email %>　<span class="input-need">※必須</span>
          <%= f.text_field :email, class: 'form-control', id: 'user_email' %>
        </div>
        <div class = 'form-group'>
          <%= f.label :introduction %>　<span class="input-unneed">※任意</span>
          <%= f.text_area :introduction, size: "60x4", class: 'form-control', id: 'user_introduction' %>
        </div>
        <%= f.submit "更新する", class: "btn btn-primary" %>
        <p></p>
        <%= link_to "アカウントを削除する", user_path(@user), method: :delete,
                                    data: { confirm: "本当にこのアカウントを削除してよろしいですか？" } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
