<% provide(:title, "プロフィール") %>
<h1>プロフィール</h1>
<%= gravatar_for @user %><br>
<%= @user.id %>, <%= @user.name %>, <%= @user.email %><br>
<%= @user.introduction %><br>
<%= @user.created_at %>, <%= @user.updated_at %><br>
