<% provide(:title, "プロフィール") %>
<div class="container">
  <h3 class="title-profile">プロフィール</h3>
  <div class="row">
    <div class="col-md-4">
      <div class="user-picture-box">
        <%= gravatar_for @user, size: 120, cl: "gravatar user-picture" %>
      </div>
    </div>
    <div class="col-md-8">
      <h4 class="show-user-name"><%= @user.name %></h4>
      <div>
        <%= @user.introduction %>
      </div>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <% if current_user == @user %>
        <div class="account-edit"><%= link_to "プロフィール編集", edit_user_path(@user) %></div>
      <% end %>
      <%= render 'follow_form' if logged_in? %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <% if @user.drinks.any? %>
        <h3>コーヒー (<%= @user.drinks.count %>)</h3>
        <ol class="drinks">
          <%= render @drinks %>
        </ol>
        <%= will_paginate @drinks %>
      <% end %>
    </div>
  </div>
</div>
