<!DOCTYPE HTML>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div id="fh5co-wrapper">
      <div id="fh5co-page">
        <div id="demo-main">
          <%= render 'layouts/header' %>
          <% flash.each do |message_type, message| %>
            <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
          <% end %>
          <%= yield %>
        </div>
        <%= render 'layouts/footer' %>
      </div>
    </div>
    <%= render 'layouts/js' %>
  </body>
</html>